{% extends "mainsite/home.html" %}
{% block content %}


<!--head-->
    <head>
        
        

    </head>

<!--form-->
    

<!--chart-->
    <script>
        var grades = {};
        var scopes = {};
        var linechart;
        
        
        {% for s1, g in chart_subject.items %}
        grades[{{ s1 }}] = {{ g|safe }}
        {% endfor %}
        {% for s2, t in chart_test.items %}
        tests[{{ s2}}] = {{ t|safe }}
        {% endfor %}
        
//linechart data
        var linesData = {
                labels:{{ str_Labels|safe }},
                datasets:[
                    {
                        label:{{ str_Labels|safe }},
                        fillColor:"rgba(256,256,256,0.5)",
                        strokeColor:"rgba(256,256,256,0.8)",
                        highlightFill:"rgba(256,256,256,0.75)",
                        highlightStroke:"rgba(256,256,256,1)",
                        data: grades[0],
                    }
                ]
            };

//canvas
        window.onload = function(){
            var ctx = document.getElementById("chart-area").getContext("2d");
            linechart = new Chart(ctx, {
                type: 'line',
                data:linesData,
                //animationEasing : "easeOutQuart", 
            });
        };

//chart functions
        function displayGradesOf(subject) {
            // linechart.data.datasets[0].data = grades[subject];
            // linechart.update();
            $.ajax({
        
            type: 'POST',
            url: "{% url 'grades_subject' %}",
            data: {
            'subject':subject,
            'csrfmiddlewaretoken': csrf_token,
            },
            success: function(response){
                // {{ user.grades_test_option }}
                console.log('success')
            },
            error: function(response){
                console.log("Failed");
            }
                
            });
        }
        
        //function displayScopesOf(tests){
          //  linechart.data.datasets[0].data = tests[subject];
            //linechart.update();
        //}
    </script>

<!--body-->
    <body>

<!--title-grade
    <div id="title-grade">GRADES</div>
-->


<!--選科目-->
        <div class="container" id>
            <div class="row">
                
                
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="choose-subject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">subjects</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(1);">Chinese</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(2);">Math</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(3);">English</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(4);">Physics</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(5);">Chemistry</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(6);">Biology</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(7);">Earth Science</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(8);">Geogrophy</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(9);">History</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(0);">Civics</a>
                    </div>
                </div>
                <div id="create-button-container">
                    <input type="button" id="create-button"value="Create" data-toggle="modal" data-target="#grades_modal">
                </div>
            </div>
        </div>
            
<!--test(範圍)-->
    <div class="container">
        {% for c in choices %}
            <div class="subject"> 
                <a href="{% url 'url_test' test=c %}">
                    {{ c }}
                </a>
            </div>
            {% endfor %}
        <div class="row">
            
                
            
    
            

    <!--chart-->     
            <div class="row justify-content-center">
                <div class="chart-container">
                    <canvas id="chart-area" class="zone"></canvas>
                </div>
            </div>
        </div>
    </div>

<!--表格-->
        <div class="table-container">
            <table class="grade-table"border="1"rules="rows" frame="box">
                <thead class="thead-light">
                    <div class="row">
                        <tr>
                            <th ></th>
                            <th >Date</th>
                            <th >Range</th>
                            <th >Score</th>
                        </tr>
                    </div>
                </thead>
                <tbody>
                    {%for l in roll %}
                        <tr>
                            <td scope = "row" >{{ forloop.counter0 }}</td>
                            <td>{{ l.date }}</td>
                            <td>{{ l.test }}</td>
                            <td>{{ l.grade }}</td>   
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </body>

{% endblock content %}