{% extends "mainsite/home.html" %}
{% block content %}


<!--head-->
    <head>
        
        
        <style>
            
            em {
                color: rgb(0, 0, 0);
            }
            .box{width:70%; float:left;}
            .zone{width:100%; height:100%;}
        </style> -->
    </head>

<!--form-->
    

<!--chart-->
    <script>
        var grades = {};
        var scopes = {};
        var linechart;
        {% for s1, g in chart_subject.items %}
        grades[{{ s1 }}] = {{ g|safe }};
        {% endfor %}
        //{% for s2, t in chart_test.items %}
        //tests[{{ s2}}] = {{ t|safe }}
        //{% endfor %}
        
//linechart data
        var linesData = {
                labels:{{ str_Labels|safe }},
                datasets:[
                    {
                        label:{{ str_Labels|safe }},
                        fillColor:"rgba(220,220,220,0.5)",
                        strokeColor:"rgba(220,220,220,0.8)",
                        highlightFill:"rgba(220,220,220,0.75)",
                        highlightStroke:"rgba(220,220,220,1)",
                        data: grades[0],
                    }
                ]
            };

//canvas
        window.onload = function(){
            var ctx = document.getElementById("chart-area").getContext("2d");
            linechart = new Chart(ctx, {
                type: 'line',
                data:linesData,
                //animationEasing : "easeOutQuart", 
            });
        };

//chart functions
        function displayGradesOf(subject) {
            linechart.data.datasets[0].data = grades[subject];
            linechart.update();
        }
        //function displayScopesOf(tests){
          //  linechart.data.datasets[0].data = tests[subject];
            //linechart.update();
        //}
    </script>

<!--body-->
    <body>

<!--jumbotron-->
        <div class="jumbotron bg-faded">
            <div class="container">
                <h1 class="text-center">GRADES</h1>
            </div>
        </div>

<!--create button-->
        <a class="btn btn-primary" href="#" role="button" onclick="location.href='/gradeform'">create</a>


<!--選科目-->
        <div class="row">
            <div class="col-1"></div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="choose-subject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">subjects</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(1);">Chinese</a>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(2);">Math</a>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(3);">English</a>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(4);">Physics</a>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(5);">Chemistry</a>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(6);">Biology</a>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(7);">Earth Science</a>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(8);">Geogrophy</a>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(9);">History</a>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(0);">Civics</a>
                </div>
              </div>
        </div>
            
<!--test(範圍)-->
    <div class="row">
        <nav class="nav flex-column">
            <a class="nav-link active" href="#">{{ </a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </nav>

<!--chart-->     
        <div class="row justify-content-center">
            <div class="box col-9.5">
                <canvas id="chart-area" class="zone"></canvas>
            </div>
        </div>
    </div>

<!--表格-->
        <table class="table">
            <thead class="thead-light">
                <div class="row">
                    <tr>
                        <th scope = "col-1"></th>
                        <th scope = "col-2">時間</th>
                        <th scope = "col-3">類型</th>
                        <th scope = "col-3">範圍</th>
                        <th scope = "col-3">分數</th>
                    </tr>
                 </div>
            </thead>
            <tbody>
                {%for l in roll %}
                    <tr>
                        <td scope = "row" >{{ forloop.counter0 }}</td>
                        <td>{{ l.date }}</td>
                        <td>{{ l.test }}</td>
                        <td>{{ l.scope }}</td>
                        <td>{{ l.grade }}</td>   
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </body>

{% endblock content %}