<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Scheduler</title>
</head>
<body
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMainPage" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Scheduler</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerMainPage">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'weekschedule-home' %}">Week Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'grades' %}">Grades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainsite-logout' %}">Logout</a>
            </li>
            
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainsite-login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainsite-register' %}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>  

  <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button onclick="prompt_test()">+</button>
      <p id="scope"></p>
      <input type="submit" value="submit">
  </form>
  <script>
    function prompt_test() {
      var test = prompt("考試類型：");
      if (test != null) {
        document.getElementById("scope").innerHTML =;
      }
    }
  </script>
</body>
</html>