<!-- {% extends "mainsite/home.html" %}
{% block content %}


Modal -->
<!-- <div class="modal fade" id="grades_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create test Option</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" id="grades_form" onsubmit="return false;">
          {% csrf_token %}
          {{ form.as_p }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
  
  <script>
    function prompt_test() {
      var csrf_token = $('input[name="csrfmiddlewaretoken"]').val()
      var test = prompt("考試類型：");
  
      $.ajax({
        
        type: 'POST',
        url: '/grades_ajax/',
        data: {
          'test_type': test,
          'csrfmiddlewaretoken': csrf_token,
        },
        success: function(response){
          console.log("Success");
          var select = document.getElementById('id_create_option');
          var option = document.createElement('option');

          // create text node to add to option element (opt)
          option.appendChild(document.createTextNode(test));

          // set value property of opt
          option.value = (test);

          // add opt to end of select box (sel)
          select.appendChild(option); 
          console.log("success");
          
        },
        error: function(response){
          console.log("Failed");
        }
      });
    }
    
  </script> -->
  
{% endblock content %}