{% extends "mainsite/home.html" %}
{% block content %}

<script>
	var grades = {};
	var scopes = {};
	var linechart;
	
	
	{% for s1, g in chart_subject.items %}
	grades[{{ s1 }}] = {{ g|safe }}
	{% endfor %}
	{% for s2, t in chart_test.items %}
	tests[{{ s2}}] = {{ t|safe }}
	{% endfor %}
	

	{}
//linechart data
	var linesData = {
			labels:{{ str_Labels|safe }},
			datasets:[
				{
					label:{{ str_Labels|safe }},
					fillColor:"rgba(220,220,220,0.5)",
					strokeColor:"rgba(220,220,220,0.8)",
					highlightFill:"rgba(220,220,220,0.75)",
					highlightStroke:"rgba(220,220,220,1)",
					data: grades[0],
				}
			]
		};

//canvas
	window.onload = function(){
		var ctx = document.getElementById("chart-area").getContext("2d");
		linechart = new Chart(ctx, {
			type: 'line',
			data:linesData,
			//animationEasing : "easeOutQuart", 
		});
	};

//chart functions
function displayGradesOf(subject) {
            linechart.data.datasets[0].data = grades[subject];
            linechart.update();
            // $.ajax({
        
            // type: 'POST',
            // url: "{#% url 'grades_subject' %}",
            // data: {
            // 'subject':subject,
            // 'csrfmiddlewaretoken': csrf_token,
            // },
            // success: function(response){
            //     // {{ user.grades_test_option }}
            //     console.log('success')
            // },
            // error: function(response){
            //     console.log("Failed");
            // }
                
            // });
        }
	
	//function displayScopesOf(tests){
	  //  linechart.data.datasets[0].data = tests[subject];
		//linechart.update();
	//}
	
</script>

<div class="container">
	<div class="row">
		
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="choose-subject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">subjects</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="{% url 'url_subject' sub=1 %}" onclick="displayGradesOf(1);">Chinese</a>
			<a class="dropdown-item" href="{% url 'url_subject' sub=2 %}" onclick="displayGradesOf(2);">Math</a>
			<a class="dropdown-item" href="{% url 'url_subject' sub=3 %}" onclick="displayGradesOf(3);">English</a>
			<a class="dropdown-item" href="{% url 'url_subject' sub=4 %}" onclick="displayGradesOf(4);">Physics</a>
			<a class="dropdown-item" href="{% url 'url_subject' sub=5 %}" onclick="displayGradesOf(5);">Chemistry</a>
			<a class="dropdown-item" href="{% url 'url_subject' sub=6 %}" onclick="displayGradesOf(6);">Biology</a>
			<a class="dropdown-item" href="{% url 'url_subject' sub=7 %}" onclick="displayGradesOf(7);">Earth Science</a>
			<a class="dropdown-item" href="{% url 'url_subject' sub=8 %}" onclick="displayGradesOf(8);">Geogrophy</a>
			<a class="dropdown-item" href="{% url 'url_subject' sub=9 %}" onclick="displayGradesOf(9);">History</a>
			<a class="dropdown-item" href="{% url 'url_subject' sub=0 %}" onclick="displayGradesOf(0);">Civics</a>
			</div>
		</div>
		<div class="col-5"></div>
		<input type="button" value="Create" data-toggle="modal" data-target="#grades_modal">
		<!-- <input type="button" id="" class="btn btn-primary" data-toggle="modal" data-target="#grades_modal">Create</input> -->

		<div class="modal fade" id="grades_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">Create test Option</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
				  <form action="" method="POST" id="grades_form" onsubmit="return false;">
					{% csrf_token %}
					{{ form.as_p }}
				  </form>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				  <button type="button" class="btn btn-primary">Create</button>
				</div>
			  </div>
			</div>
		  </div>

	</div>
</div>
	
<!--test(範圍)-->


<div class="container">
{% for c in choices %}
	<div class="subject"> 
		<a href="{% url 'url_test' sub=sub test=c %}">
			{{ c }}
		</a>
	</div>
	{% endfor %}
<div class="row">
	
<!--chart-->     
	<div class="row justify-content-center">
		<div class="chart-container">
			<canvas id="chart-area" class="zone"></canvas>
		</div>
	</div>
</div>
</div>

<!--表格-->
<div class="table-container">
	<table class="grade-table"border="1"rules="rows" frame="box">
		<thead class="thead-light">
			<div class="row">
				<tr>
					<th ></th>
					<th >Date</th>
					<th >Range</th>
					<th >Score</th>
				</tr>
			</div>
		</thead>
		<tbody>
			{%for u in data_subject %}
				<tr>
					<td scope = "row" >{{ forloop.counter0 }}</td>
					<td>{{ u.date }}</td>
					<td>{{ u.scope }}</td>
					<td>{{ u.grade }}</td>   
				</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
</body>

{% endblock content %}