{% extends "mainsite/home.html" %}
{% block content %}


<!--head-->
    <head>
        
        

    </head>

<!--form-->
    

<!--chart-->
    <script>
        var grades = {};
        var scopes = {};
        var linechart;
        
        
        {% for s1, g in chart_subject.items %}
        grades[{{ s1 }}] = {{ g|safe }}
        {% endfor %}
        {% for s2, t in chart_test.items %}
        tests[{{ s2}}] = {{ t|safe }}
        {% endfor %}
        
//linechart data
        var linesData = {
                labels:{{ str_Labels|safe }},
                datasets:[
                    {
                        label:{{ str_Labels|safe }},
                        fillColor:"rgba(220,220,220,0.5)",
                        strokeColor:"rgba(220,220,220,0.8)",
                        highlightFill:"rgba(220,220,220,0.75)",
                        highlightStroke:"rgba(220,220,220,1)",
                        data: grades[0],
                    }
                ]
            };

//canvas
        window.onload = function(){
            var ctx = document.getElementById("chart-area").getContext("2d");
            linechart = new Chart(ctx, {
                type: 'line',
                data:linesData,
                //animationEasing : "easeOutQuart", 
            });
        };

//chart functions
        function displayGradesOf(subject) {
            // linechart.data.datasets[0].data = grades[subject];
            // linechart.update();
            $.ajax({
        
            type: 'POST',
            url: "{% url 'grades_subject' %}",
            data: {
            'subject':subject,
            'csrfmiddlewaretoken': csrf_token,
            },
            success: function(response){
                // {{ user.grades_test_option }}
                console.log('success')
            },
            error: function(response){
                console.log("Failed");
            }
                
            });
        }
        
        //function displayScopesOf(tests){
          //  linechart.data.datasets[0].data = tests[subject];
            //linechart.update();
        //}
    </script>

<!--body-->
    <body>

<!--jumbotron-->
        <div class="jumbotron bg-faded">
            <div class="container">
                <h1 class="text-center">GRADES</h1>
            </div>
        </div>



<!--選科目-->
        <div class="container">
            <div class="row">
                
                
                <div class="dropdown col-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="choose-subject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">subjects</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(1);">Chinese</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(2);">Math</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(3);">English</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(4);">Physics</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(5);">Chemistry</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(6);">Biology</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(7);">Earth Science</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(8);">Geogrophy</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(9);">History</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="displayGradesOf(0);">Civics</a>
                    </div>
                </div>
                <div class="col-5"></div>
                <a class="btn btn-primary col-3" href="#" role="button" onclick="location.href='/gradesform'">create</a>
            </div>
        </div>
            
<!--test(範圍)-->
    <div class="container">
        <div class="row">
            <div class="subject">
                <p>{{ choices }}</p>
                <a href="{% url 'url_test' test=choices %}">{{ choices }}</a>
            </div>
                
            
    
            

    <!--chart-->     
            <div class="row justify-content-center">
                <div class="box col-9.5">
                    <canvas id="chart-area" class="zone"></canvas>
                </div>
            </div>
        </div>
    </div>

<!--表格-->
        <table class="table container">
            <thead class="thead-light">
                <div class="row">
                    <tr>
                        <th scope = "col-1"></th>
                        <th scope = "col-2">時間</th>
                        <th scope = "col-3">類型</th>
                        <th scope = "col-3">範圍</th>
                        <th scope = "col-3">分數</th>
                    </tr>
                 </div>
            </thead>
            <tbody>
                {%for l in roll %}
                    <tr>
                        <td scope = "row" >{{ forloop.counter0 }}</td>
                        <td>{{ l.date }}</td>
                        <td>{{ l.test }}</td>
                        <td>{{ l.scope }}</td>
                        <td>{{ l.grade }}</td>   
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </body>

{% endblock content %}