{% extends "mainsite/home.html" %}
{% block content %}
  <div>
    <div>
      <button id="tomato_clock_button">
        Start
      </button>
      <div id='time'></div>
    </div>
  </div>
  <!-- Swiper -->
  <div class="swiper-container" id="today-swiper">
    <div class="swiper-wrapper">
      {% for event in events %}
      <div class="swiper-slide" id="today-slide">
        <div class="div time">
          {{ event.start_time|time:"H:i" }} ~ {{ event.end_time|time:"H:i" }}
        </div>
        <div class="div subject">
          <h2>{{ event.subject }}</h2>
          <br>
          <h4>{{ event.description }}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>



{% endblock content %}