{% extends "mainsite/home.html" %}
{% block content %}



  <div class="float-right mt-2">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_event_modal">
      Add Event
    </button>
  </div>

  <div class="modal fade" id="create_event_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Schedule yourself</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form action="#" method="POST" id="event_event_form" data-url="{% url 'weekschedule-home' %}">
            {% csrf_token %}
              <div class="form-group "> 
                  <label> Subject </label> 
                  {{ form.subject }} 
              </div> 
              <div class="form-group"> 
                  <label> Description </label> 
                  {{ form.description }} 
              </div> 
              <div class="form-group"> 
                  <label> Start Time </label> 
                  {{ form.start_time }} 
              </div> 
              <div class="form-group"> 
                  <label> Clock </label> 
                  {{ form.clock }} 
              </div> 
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="event_submit_button">Save</button>
              </div>
          </form>
        </div>
      </div>
    </div>

  </div>




{% endblock content %}