{% extends "mainsite/home.html" %}
{% block content %}


<div>
  <br><br>
  <h2>Studigram</h2>
  <br><br>
  <form method="POST" ml-10>
    {% csrf_token %}
    {{ form.as_p }}
    <div style="text-align:center;">
      <input type="submit" value="Log In">
    </div>
  </form>
  <hr>
  <div style="text-align:center;">
    <h5 class="text-muted">
      Need an account? <a class="ml-2" href="{% url 'mainsite-register' %}">Sign Up</a>
    </h5>
  </div>
  <div style="text-align:center;">
    <h5 class="text-muted">
      Forget your password? <a class="ml-2" href="{% url 'password_reset' %}">Reset Password</a>
    </h5>
  </div>
</div>
{% endblock content %}
