{% extends "mainsite/home.html" %}
{% block content %}


<div>
  <br>
  <h2>Studigram</h2>
  <br>
  <form method="POST" ml-10>
    {% csrf_token %}
    <div class="login_infor">{{ form.as_p }}</div>
    <div style="text-align:center;">
      <input type="submit" value="Log In">
  </form>
  <hr>
  <div style="text-align:center;">
    <h5 class="text-muted">
      Need an account? <a class="ml-2" href="{% url 'mainsite-register' %}">Sign Up</a>
    </h5>
  </div>
  <div style="text-align:center;">
    <h5 class="text-muted">
      Forget your password? <a class="ml-2" href="{% url 'password_reset' %}">Reset Password</a>
    </h5>
  </div>
</div>

{% if err %}
<script>
  alert("{{ err }}")
</script>
{% endif %}
{% endblock content %}
