{% extends "mainsite/home.html" %}
{% block content %}

<div>
<div class="name">
  <br><br>
  <h2>Studigram</h2>
  <br><br>
</div>
  <form method="POST">
    {% csrf_token %}
    <div class="all-infor">
      {{ form.as_p }}
    </div>
    <div style="text-align:center;">
      <input type="submit" value="Sign Up">
    </div>
  </form>
<hr>
  <div style="text-align:center;">
    <h5 class="text-muted">
      Already have an account? <a class="ml-2" href="{% url 'mainsite-login' %}">Log In</a>
    </h5>
  </div>

</div>
{% endblock content %}
