/* #title-grade{
  font-size: 40px;
  text-align: center;
  color:white;
  margin-top: 20px;
  margin-bottom: 40px;
} */
.table-container{
    border:2px;
    margin:20px;
    display:flex;
    justify-content: center;
    color:white;
    text-align: center;
  }

.grade-table{
  font-size: 25px;
  text-align: center;
  border-color: white;
  margin-left: 8%;
}
.chart-container{
  display:flex;
  justify-content: center;
  margin:10%;
  color:white;
}
#chart-area{
  width:100%;
  height:auto;
  margin-left:30%;
  color:white;
}
#create-button{
  font-size: 30px;
  line-height: 30px;
  color: rgb(154,161,143);
  background-color:white;
  border:none;
  border-radius: 7%;
  position: absolute;
  right:4.7%;
  height:6.3%;
  width:auto;
  padding-top: 1.5%;
  margin-top:10px;
}
#choose-subject{
  color: rgb(154,161,143);
  font-size:30px;
  line-height: 30px;
  background-color: white;
  border: none;
  margin-top: 10px;
  margin-left: 15%;
}
.dropdown-item{
  font-size: 25px;
  color: rgb(154,161,143);
}


