.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

img {
  height: 150%;
  width: 100%;
}

}
.swiper-button-prev, .swiper-button-next{
  color:white;
  margin:auto;
}
.subject-container{
  display:flex;
  width: max-content;
  height:max-content;
  align-items: center;
  background:none;
}
.your_href{
  color:white;
  text-align: center;
  margin-top:20px;
}
.row-answer{
  text-align:center ;
}
#question{
  display:flex;
  margin: 15px;
  background: none;
}

