
body{
  font-family: "Peddana", serif;
  font-size: 35px;
}
.modal-body{
  font-size: 20px;
  margin-right: 2px;
}
/* weekschedule */
#button_div{
  position: absolute;
  width: 100%;
  height: 10%;
  text-align: center;
  bottom: 10%;
}

#add_event_button{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border:none;
  text-decoration: underline;
  /* bottom: 10%; */
}

#event_submit_button{
  font-size: 35px;
  color: rgb(154,161,143);
  border:none;
  background: none;
  text-decoration: underline;
  }

.flex-container {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 10px;
}

.round-button {
  display:block;
  width:50px;
  line-height:50px;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  font-size: 25px;
  font-weight:bold;
  margin: 2px;
}
.round-button:hover {
  background: #777555;
}

#weekschedule-swiper {
  width: 100%;
  height: 100%;
}

#weekschedule-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



.overflow-auto{
  border:2px;
  margin:20px;
  display:flex;
  justify-content: center;
}

#event_table, th, td {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

#event_table{
  text-align: center;
}

th, td {
  padding: 15px;
}

th {
  color: snow;
}

/* today */
#tomato_clock_container{
  display: flex;
  justify-content: center;
}
#tomato_clock_image{
  width: 80%;
  height: auto;
}
#tomato_clock_button_container{
  display: flex;
  justify-content: center;
}
#tomato_clock_button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border:none;
  text-decoration: underline;
  color:white;
}

#time {
  color: white;
  margin-left: 40%;
  margin-top: 25%;
  position: absolute;
}

#today-swiper {
  width: 75%;
  height: 30%;
  position: absolute;
  margin: 5% 13% 50% 13%;
  background-color: snow;
}

.today-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(209, 209, 209, 0.4);

  /* Center slide text vertically */
  
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.time{
  height: 50px;
  text-align: center;
  padding: 13px;
  font-size: larger;
}

.subject{
  margin: 12px;
}