
body{
  font-family: "Peddana", serif;
  font-size: 35px;
}
.modal-body{
  font-size: 20px;
  margin-right: 2px;
}
#studigram{
  font-family: "Fredericka the Great", cursive;
  font:rgb(154,161,143);
  margin-top: 20px;
}
.navbar-brand{
  font-family: "Fredericka the Great", cursive;
  margin-right: 5px;
}
/* weekschedule */
#button_div{
  position: absolute;
  width: 100%;
  height: 10%;
  text-align: center;
}
.nav-item{
  color:rgb(154,161,143);
}
#add_event_button{
  position: static;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border:none;
  text-decoration: underline;
}

#event_cancel_button,#event_submit_button{
  font-size: 25px;
  color:rgb(154,161,143);
  background: none;
  text-decoration: underline;
  border:none;

}

.flex-container {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.swiper-container{
  background: none;
}
.round-button {
  display:block;
  width:50px;
  line-height:50px;
  color:white;
  text-align:center;
  text-decoration:none;
  font-size: 25px;
  margin: 2px;
}
.round-button:hover{
  text-decoration: underline;
}



#weekschedule-swiper {
  width: 100%;
  height: 100%;
}

#weekschedule-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  /* background: #fff; */


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



.overflow-auto{
  border:2px;
  margin:20px;
  display:flex;
  justify-content: center;
}
#event_table{
  visibility: hidden;
}

#event_table, tr{
  border: 1px solid white;
}

#event_table_body, #event_table_header, th, td {
  font-size: 25px;
  text-align: center;
}


#event_table_body {
  height: 410px;
  overflow: auto;
  display: block;
}
#event_table_header {
  display: block;
}
#event_table_header tr{
  width: 100%;
  display: inline-table;
}


th, td {
  padding: 15px;
}

th {
  color: snow;
}

/* today */
#tomato_clock_container{
  display: flex;
  justify-content: center;
}
/* #time{
  width:20%;
  height:auto;
  text-align: center;
} */
#tomato_clock_image{
  width: 60%;
  height: 100%;
  margin: 15%;
}
#tomato_clock_button_container{
  display: flex;
  justify-content: center;
}
#tomato_clock_button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border:none;
  text-decoration: underline;
  color:white;
}

#time {
  color:white;
  margin-top: 3%;
  position: absolute;
}

#today-swiper {
  width: 75%;
  height: 30%;
  position: absolute;
  margin: 5% 13% 50% 13%;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 25px;
}

.today-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.div-time , .div-subject{
  text-align: center;
  font-size: larger;
  font-family: "Peddana" , serif;
  color: rgb(154,161,143)
}
.div-subject{
  margin-bottom: 20px;
}

.swiper-button-next , .swiper-button-prev{
  color: rgb(154,161,143);
  height: 5px;
  width: auto;
  position: absolute;

}

.flexbox_info{
  display: flex;
  margin-right: 10%;
  justify-content: flex-end;
}

#info_svg{
  color: white;
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.error{
  color: red;
}



