<!DOCTYPE html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
        <style>
            body {
               background-color: rgb(255, 255, 255);
            }
            em {
                color: rgb(0, 0, 0);
            }
            .box{width:70%; float:left;}
            .zone{width:100%; height:100%;}
        </style>
<script>
        var grades = {};
        var linechart;
        {% for s, g in chart_data.items %}
        grades[{{ s }}] = {{ g|safe }};
        {% endfor %}
//linechart
    var linesData = {
            labels:{{ str_Labels|safe }},
            datasets:[
                {
                    label:"成績曲線",
                    fillColor:"rgba(220,220,220,0.5)",
                    strokeColor:"rgba(220,220,220,0.8)",
                    highlightFill:"rgba(220,220,220,0.75)",
                    highlightStroke:"rgba(220,220,220,1)",
                    data: grades[0]
                }
            ]
        };
    window.onload = function(){
        var ctx = document.getElementById("chart-area").getContext("2d");
        linechart = new Chart(ctx, {
            type: 'line',
            data:linesData,
            //animationEasing : "easeOutQuart",
        });
    };

    function displayGradesOf(subject) {
        linechart.data.datasets[0].data = grades[subject];
        linechart.update();
    }
    </script>
    </head>

    
    <body>
<!--jumbotron-->
        <div class="jumbotron bg-faded">
            <div class="container">
                <h1 class="text-center">GRADES</h1>
            </div>
        </div>
<!--選科目-->
        <div class="row">
            <div class="nav flex-column nav-tabs col-2 text-center" id="subject" role="tablist" aria-orientation="vertical">
                <a class="nav-link activate" id="x1" data-toggle="pill" href="javascript:void(0);" onclick="displayGradesOf(1);" role="tab" aria-controls="國文" aria-selected="true">國文</a>
                <a class="nav-link" id="數學" data-toggle="pill" href="javascript:void(0);" onclick="displayGradesOf(2);" role="tab" aria-controls="數學" aria-selected="false">數學</a>
                <a class="nav-link" id="英文" data-toggle="pill" href="javascript:void(0);" onclick="displayGradesOf(3);" role="tab" aria-controls="英文" aria-selected="false">英文</a>
                <a class="nav-link" id="物理" data-toggle="pill" href="javascript:void(0);" onclick="displayGradesOf(4);" role="tab" aria-controls="物理" aria-selected="false">物理</a>
                <a class="nav-link" id="化學" data-toggle="pill" href="javascript:void(0);" onclick="displayGradesOf(5);" role="tab" aria-controls="化學" aria-selected="false">化學</a>
                <a class="nav-link" id="生物" data-toggle="pill" href="javascript:void(0);" onclick="displayGradesOf(6);" role="tab" aria-controls="生物" aria-selected="false">生物</a>
                <a class="nav-link" id="地科" data-toggle="pill" href="javascript:void(0);" onclick="displayGradesOf(7);" role="tab" aria-controls="地科" aria-selected="false">地科</a>
                <a class="nav-link" id="地理" data-toggle="pill" href="javascript:void(0);" onclick="displayGradesOf(8);" role="tab" aria-controls="地理" aria-selected="false">地理</a>
                <a class="nav-link" id="歷史" data-toggle="pill" href="javascript:void(0);" onclick="displayGradesOf(9);" role="tab" aria-controls="歷史" aria-selected="false">歷史</a>
                <a class="nav-link" id="公民" data-toggle="pill" href="javascript:void(0);" onclick="displayGradesOf(0);" role="tab" aria-controls="公民" aria-selected="false">公民</a>
            </div>
            <div class="tab-content" id="subject">
                <div class="tab-pane show activate" id="國文" role="tabpanel" aria-labelledby="sub1-tab">{%if l.subject</div>
                <div class="tab-pane" id="數學" role="tabpanel" aria-labelledby="sub2-tab"></div>
                <div class="tab-pane" id="英文" role="tabpanel" aria-labelledby="sub3-tab"></div>
                <div class="tab-pane" id="物理" role="tabpanel" aria-labelledby="sub4-tab"></div>
                <div class="tab-pane" id="化學" role="tabpanel" aria-labelledby="sub5-tab"></div>
                <div class="tab-pane" id="生物" role="tabpanel" aria-labelledby="sub6-tab"></div>
                <div class="tab-pane" id="地科" role="tabpanel" aria-labelledby="sub7-tab"></div>
                <div class="tab-pane" id="地理" role="tabpanel" aria-labelledby="sub8-tab"></div>
                <div class="tab-pane" id="歷史" role="tabpanel" aria-labelledby="sub9-tab"></div>
                <div class="tab-pane" id="公民" role="tabpanel" aria-labelledby="sub0-tab"></div>
            </div>        
<!--linechart-->
            <div class="box col-10">
                <canvas id="chart-area" class="zone"></canvas>
            </div>
        </div>

        


<!--表格-->
        <table class="table">
            <thead class="thead-light">
                <div class="row">
                    <tr>
                        <th scope = "col"></th>
                        <th scope = "col">時間</th>
                        <th scope = "col">類型</th>
                        <th scope = "col">範圍</th>
                        <th scope = "col">分數</th>
                    </tr>
                 </div>
            </thead>
            <tbody>
                {%for l in roll%}
                    <tr>
                        <td scope = "row" >{{ l }}</td>
                        <td>{{ l.date }}</td>
                        <td>{{ l.test }}</td>
                        <td>{{ l.scope }}</td>
                        <td>{{ l.grade }}</td>   
                    </tr>
                {%endfor%}
            </tbody>
        </table>
<!--頁尾-->
    </body>
</html>
